* {
    margin: 0;
    padding: 0;
    line-height: 1;
    outline: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

header .top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

header .top .left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

header .top .left .name {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    line-height: 50px;
}

.time {
    font-size: 14px;
}

header .top .left .edit, #followers {
    border: none;
    background: none;
    font-size: 34px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

header .top .left .edit:hover, #followers:hover {
    font-size: 36px;
    color: red;
}

header .top .followUser, #removeAll {
    border: 1px solid #000;
    padding: 10px;
    background: none;
    font-size: 18px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

header .top .followUser i, #removeAll i {
    margin-right: 10px;
    display: inline-block;
}

header .bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header .bottom textarea {
    display: block;
    border: 1px solid #000;
    height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    resize: vertical;
    flex-grow: 1;
    margin-right: 20px;
    min-height: 30px;
}

button#send {
    padding: 5px 10px;
    border: 2px solid #000;
    background: none;
    font-weight: bold;
    font-size: 16px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    4px 4px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         4px 4px 5px 0px rgba(0, 0, 0, 0.75);
}

button#send:hover,header .top .followUser:hover, #removeAll:hover {
    background: #000;
    color: #fff;
}

.message-list {
    border: 1px solid #000;
    padding: 10px;
    height: 500px;
    overflow-y: scroll;
}

.modal {
    display: none;
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    z-index: 999;
    background: #fff;
    padding: 20px;
}

.modal h3 {
    border-bottom: 1px solid #000;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.modal .row {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.modal .row label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 20px;
}

.modal .row input {
    flex-grow: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    border: 1px solid #000;
    padding: 0 10px;
}

.modal button {
    padding: 5px 15px;
    border: 2px solid #000;
    background: none;
    font-weight: bold;
    font-size: 16px;
}

.modal button:hover {
    background: #000;
    color: #fff;
}

#wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: 200;
}

.message-list .message {
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.message-list .message .name {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.message-list .message .text {
    font-size: 14px;
    line-height: 18px;
}

.error::-webkit-input-placeholder {
    color: red;
    font-weight: bold;
}

ol#subscribes {
    padding-left: 30px;
}

.userListItem {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}